{% extends 'blog/base.html' %}
{% block content %}
<div class="info">
    <h1>About</h1>
    <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. At eos repellat quas, doloribus nobis aliquam labore cupiditate neque, rerum, earum cum iure. Ducimus sapiente alias recusandae laborum, tempore placeat magnam modi, repellat dolorum iure eius necessitatibus quam saepe id repellendus porro animi quia non optio earum? Voluptatibus alias enim beatae velit? Error quaerat debitis quia quas illum alias voluptatum deleniti nisi magnam recusandae, laborum numquam voluptatibus! Dolor quae ad consectetur ipsam, beatae magnam quaerat voluptate nostrum itaque vero commodi eum, accusamus fuga veniam nam quo aspernatur impedit modi dolore!<p>
    <p>
    Beatae deserunt dicta libero repellat cupiditate eos et possimus quis consequuntur error ipsum delectus temporibus expedita maiores architecto, tempore quaerat ipsam, tenetur necessitatibus voluptate illo ratione molestiae pariatur quod? Odio id reprehenderit illo a saepe velit soluta laudantium cum quas labore, explicabo tenetur aperiam recusandae maxime sed, maiores pariatur dolor eum molestias minima voluptatum! Quaerat assumenda distinctio ullam, error harum pariatur?
    </p>
</div>
{% endblock content %}