{% extends 'blog/base.html' %}
{% block style_block %}
    {% for post in posts %}
    {% if forloop.first %}
    .newest-post-entry {
    background: url({{ post.imagesmall.url }}) no-repeat center center fixed; 
    background-size: contain;
    height: 380px;
    width: 100%;
    }


    @media (min-width: 600px) {
    .newest-post-entry {
    background: url({{ post.imagewide.url }}) no-repeat center center fixed; 
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    background-position: center center;
    height: 380px;
    }
    }

    {% endif %}
    {% endfor %}
{% endblock style_block %}
{% block content %}
    <div class="row">
    {% for post in posts %}
    {% if forloop.first %}
    <div class="col-md-12">
    <article class="newest-post">
                <div class="media-body">
                <a href="{%url 'post-detail' post.id%}">
                <div class="newest-post-entry">
                    <div class="row head-article-content">
                        <div class="post-left col-md-7 container">
                            <div class="row justify-content-center align-items-center title-text h-75">
                            <h1 class="head-article-title mt-3">{{ post.title }}</h1>
                            </div>
                        </div>
                        <div class="post-right col-md-5 ">
                                <div class="align-items-center article-content h-100">
                                    <h5 class="head-article-category mt-3">{{post.category}}</h5>
                                    <h4 class="head-article-byline">{{ post.byline }}</h4>
                                </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
    </article>
    </div>
    {% else %}
    <div class="col-md-6">
        <article class="media content-section other-posts row">
            <div class="media-body">
                <a href="{%url 'post-detail' post.id%}">
                <div class="post-entry">
                    <img class="rounded" src="{{ post.imagesmall.url }}" alt="post image">
                    <h2 class="article-title">{{ post.title }}</h1>
                    <h5 class="article-category mt-3">{{post.category}}</h5>
                    <p class="article-byline">{{ post.byline | slice:":80" }}...<p>
                </div>
                </a>
            </div>
        </article>
    </div>
    {% endif %}
    
    {% endfor %}

    </div>
{% endblock content %}