{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    {% if forloop.first %}
    <div class="col-md-12">
    <article class="media content-section newest-post">
                    <div class="media-body">
                <a href="{%url 'post-detail' post.id%}">
                <div class="post-entry">
                    <img class="rounded container" src="{{ post.image.url }}" alt="post image">
                    <div class="row">
                        <div class="post-left col-7 container">
                            <div class="row justify-content-center align-items-center title-text ">
                            <h2 class="article-title mt-3">{{ post.title }}</h1>
                            </div>
                        </div>
                        <div class="post-right col-5 ">
                            <small class="text-muted">{{ post.date_posted|date:"j F Y" }}</small>
                                <div class="align-items-center d-flex article-content">
                                    {% if forloop.first %}
                                    <h4 class="row">{{ post.byline }}</h4>
                                    {% else %}
                                    <p class="row">{{ post.byline }}<p>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
    </article>
    </div>
    {% else %}
    <div class="col-md-6">
        <article class="media content-section other-posts row">
            <div class="media-body">
                <a href="{%url 'post-detail' post.id%}">
                <div class="post-entry">
                    <img class="rounded container" src="{{ post.image.url }}" alt="post image">
                    <div class="row">
                        <div class="post-left col-7 container">
                            <div class="row justify-content-center align-items-center title-text ">
                            <h2 class="article-title mt-3">{{ post.title }}</h1>
                            </div>
                        </div>
                        <div class="post-right col-5 ">
                            <small class="text-muted">{{ post.date_posted|date:"j F Y" }}</small>
                                <div class="align-items-center d-flex article-content">
                                    {% if forloop.first %}
                                    <h4 class="row">{{ post.byline }}</h4>
                                    {% else %}
                                    <p class="row">{{ post.byline }}<p>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </article>
    {% endif %}
    </div>
    {% endfor %}


{% endblock content %}