{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
            <div class="newest-post">
                <a href="{%url 'post-detail' post.id%}">
                <div class="post-entry">
                    <div class="article-metadata">
                            <h2 class="article-title">{{ post.title }}</h2>
                        <small class="text-muted">{{ post.date_posted|date:"j F Y" }}</small>
                    </div>
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img class="rounded" src="{{ post.image.url }}" alt="post image">
                            </div>
                            <div class="col-md-8">
                                <p class="article-content">{{ post.byline | slice:":300" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </article>
    {% endfor %}


{% endblock content %}